div {
    background-color:white
}
* {
    color:black
    background-color: blue;
    margin: 0px auto;
    padding: 10px;
    font-family: "Times New roman", Georgia, Serif;
}

h1, .alert-text{
    color: red;
}

img{
    display: flex;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
}

.inline{
    display:flexbox;
}

.ingredients, .instructions{
    text-align: center;
    padding-right: 12px;
    border: 2px solid black;
    background-color: beige;
    border-radius: 7px;
}

.button{
    font-size: 18px;
    border: 1px solid blue;
    border-radius: 7px;
    margin: 0 auto;
    width: 50px;
    display: block;
    text-align: center;
}